<div class="form-group">
  <label>Label Font Size - {{ vis.params.fontSizeLabel }}pt</label>
  <input type="range" ng-model="vis.params.fontSizeLabel" class="form-control" min="12" max="60" />
</div>
<div class="form-group">
  <label>Value Font Size - {{ vis.params.fontSizeValue }}pt</label>
  <input type="range" ng-model="vis.params.fontSizeValue" class="form-control" min="12" max="60" />
</div>
<div class="form-group">
    <label>Show Pictures</label>
    <input type="checkbox" ng-model="vis.params.showPictures" ng-checked="true" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
  <label>json Labels</label>
  <br/>
  <small class="pull-middle">
    Check out json options at <a ng-href="http://github.com/JuanCarniglia/kbn_picture_values_vis" target="_blank">Vis Home Page<i class="fa fa-link"></i></a><br/>
  </small>
    <small class="pull-middle">
  Check out numeral format options at <a ng-href="http://numeraljs.com/" target="_blank">NumeralJS documentation<i class="fa fa-link"></i></a>
  <br/>
  And available fontAwesome icons at the <a ng-href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">cheat sheet<i class="fa fa-link"></i></a>
  <br/>
  Remember to surround each field name with double quotes and to change the fontAwesome codes from "&#xf12d;" into just "\uf12d".
</small>
</label>
  <br />
  <div ng-model="vis.params.jsonLabels" style='height:200px;' ui-ace="{ onLoad: aceLoaded, mode: 'json', wrap: true }" id="vis.params.jsonLabels" ng-model="field.value" class="form-control"></div>
</div>
