<div class="form-group">
    <label>Show Pictures</label>
    <input type="checkbox" ng-model="vis.params.showPictures" ng-checked="true" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>json Labels </label>
    <label>Example : <br/>
<pre style="height:100px;width:320px">
[
  { "text" : "CUENTA",
	"letter" : "\uf119",
	"numeralFormat" : "$0,0.00",
	"ranges" :
       [
        { "min" : 0,
		"max": 2000,
		"valueColor" : "red",
		"letter" : "\uf119"},
        { "min" : 2000,
		"max": 10000,
		"valueColor" : "green",
		"letter" : "\uf118"}
       ]
  }
]
</pre>
<small class="pull-middle">
  Check out numeral format options at <a ng-href="http://numeraljs.com/" target="_blank">NumeralJS documentation<i class="fa fa-link"></i></a>
  <br/>
  And available fontAwesome icons at the <a ng-href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">cheat sheet<i class="fa fa-link"></i></a>
  <br/>
  Remember to surround each field name with double quotes and to change the fontAwesome codes from "&#xf12d;" into just "\uf12d".
</small>

</label>
    <textarea rows="20" ng-model="vis.params.jsonLabels" class="form-control"></textarea>
</div>
